

.menuBurger {
    height: 4vmax;
}

.banner {
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(to right, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(to right, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(to right, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    height : 100vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

}

.banner > h1 {
    margin: 4vmax;
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.4vmax "Open Sans";
  }

.banner > a > button {
    margin-bottom: 4vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
}

.banner > a > button:hover {
    background-color: #9571FF;
    color : white
}

.banner::after {
    content : "";
    width: 100vw;
    height: 100vmin;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    clip-path: polygon(100% 75%, 0% 100%, 100% 100%);

}

.homeHeading {
    text-align : center;
    font-family: "Roboto";
    font-size : 1.4vmax;
    border-bottom : 1px solid rgba(9, 18, 33, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto ;
    color: black;
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    font-size: 1.1vmax;
    width: 16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding: 0.5vmax;
}

.productCard > img {
    width: 15vmax;
    height: 15vmax;
    object-fit:contain;
}

.productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content :flex-start;
    align-items: center;
}

.productCard > div > span {
    margin: 0.4vmax;
    padding-top: 0.2vmax;
    font: 300 1vmax "Poppins";
}

.productCard > p {
    font-family: "Poppins";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard > span {
    margin : 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.5);
    transform: translateY(-1vmax);
}

@media screen and (max-width : 600px) {
    .banner > h1 {
        font-size: 3vmax;
    }
    .banner > p {
        font-size: 6.5vmax;
        font-weight: bold;
    }
    .homeHeading {
        width: 80%;
        font-size: 3vmax;
    }
    .productCard > img {
        width: 40vh;
        height: 30vh;
    }

    .productCard {
        width: 50vh;
        text-align: center;
    }

    .productCard > p {
        font-size: 3vmax;
    }

    .productCard > div {
        justify-content: center;
        margin: 0;
        display: flex;
    }

    .productCard > span {
        padding-top: 1vmax;
        font-size: 3vmax;
        padding-bottom: 1vmax;
        border-bottom: 1px solid grey;
    }



    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Poppins";
    }
}